:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

h3 {
  font-size: 1.15em;
  font-weight: 600;
}

h2 {
  font-size: 1.2em;
  font-weight: 600;
}

h1 {
  font-size: 1.25em;
  font-weight: 600;
}

pre {
  border: 1px solid #eaeaea;
  padding: 0.25em 1em;
  border-radius: 0.5em;
  width: 100%;
}

.inline-code {
  background: #eaeaea;
  border: 1px solid #eaeaea;
  border-radius: 0.25em;
  padding: 0 0.25em;
}

li.todo-item::marker {
  content: '📝';
}

li.todo-item.done::marker {
  content: '✅';
}

li.todo-item.doing::marker {
  content: '⏳';
}

li.list-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

li.list-item::marker {
  content: '';
}

li.list-item::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #242424;
}

.tag {
  padding: 0 0.5em 0 0;
  border-radius: 0 0.25em 0.25em 0;
  color: transparent;
  background: linear-gradient(to right, yellow, blue);
  background-clip: text;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.5em;
}

.tag::before {
  content: '#';
  color: blue;
  font-size: 0.5em;
}

.img {
  margin: 16px 0;
}

.img>img {
  margin: 0 auto;
  object-fit: cover;
}